# .github
/.github/ @fransiscus-hermanto @fransiscushermanto

# .husky
/.husky/ @fransiscus-hermanto @fransiscushermanto

# .storybook
/.storybook/ @fransiscus-hermanto @fransiscushermanto

# packages
/packages/components/badge @fransiscus-hermanto @fransiscushermanto
/packages/components/button @fransiscus-hermanto @fransiscushermanto
/packages/components/card @albertusip
/packages/components/checkbox @fransiscus-hermanto @fransiscushermanto
/packages/components/form-control @fransiscus-hermanto @fransiscushermanto
/packages/components/input @fransiscus-hermanto @fransiscushermanto
/packages/components/otp-input @fransiscus-hermanto @fransiscushermanto
/packages/components/progress @fransiscus-hermanto @fransiscushermanto
/packages/components/provider @fransiscus-hermanto @fransiscushermanto
/packages/components/radio @fransiscus-hermanto @fransiscushermanto
/packages/components/react @fransiscus-hermanto @fransiscushermanto
/packages/components/sliders @fransiscus-hermanto @fransiscushermanto
/packages/components/switch @fransiscus-hermanto @fransiscushermanto
/packages/components/textarea @fransiscus-hermanto @fransiscushermanto
/packages/components/typography @fransiscus-hermanto @fransiscushermanto

/packages/core/system @fransiscus-hermanto @fransiscushermanto

/packages/hooks/context @fransiscus-hermanto @fransiscushermanto
/packages/hooks/use-callback-ref @fransiscus-hermanto @fransiscushermanto
/packages/hooks/use-controllable-state @fransiscus-hermanto @fransiscushermanto
/packages/hooks/use-safe-layout-effect @fransiscus-hermanto @fransiscushermanto
/packages/hooks/use-watch-element-size @fransiscus-hermanto @fransiscushermanto

/packages/pluggables/plug @fransiscus-hermanto @fransiscushermanto
/packages/pluggables/text-field @fransiscus-hermanto @fransiscushermanto

/packages/utilities/dom-utils @fransiscus-hermanto @fransiscushermanto
/packages/utilities/function-utils @fransiscus-hermanto @fransiscushermanto
/packages/utilities/number-utils @fransiscus-hermanto @fransiscushermanto
/packages/utilities/object-utils @fransiscus-hermanto @fransiscushermanto

# plop
/plop/generator/ @fransiscus-hermanto @fransiscushermanto
/plop/templates/ @fransiscus-hermanto @fransiscushermanto

# scripts
/scripts/ @fransiscus-hermanto @fransiscushermanto

# tooling
/tooling/rtl-utils @fransiscus-hermanto @fransiscushermanto

