./github/**/** @fransiscushermanto fransiscus.hermanto@julofinance.com kevin.giovanni@julofinance.com
./husky fransiscus.hermanto@julofinance.com

packages/ fransiscus.hermanto@julofinance.com 

packages/components/button fransiscus.hermanto@julofinance.com
packages/components/typography fransiscus.hermanto@julofinance.com
packages/components/react fransiscus.hermanto@julofinance.com
packages/components/providers fransiscus.huang47@gmail.com

packages/components/tooling fransiscus.hermanto@julofinance.com