{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"prettier"
	],
	"files": [
		"src/**/*"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"rules": {
		"semi": "error",
		"max-len": [
			"error",
			{
				"code": 80,
				"tabWidth": 2,
				"comments": 80,
				"ignoreComments": true,
				"ignoreTrailingComments": true,
				"ignoreUrls": true,
				"ignoreStrings": true,
				"ignoreTemplateLiterals": true,
				"ignoreRegExpLiterals": true
			}
		],
		"array-bracket-spacing": [
			"error",
			"never"
		],
		"object-curly-spacing": [
			"warn",
			"always"
		],
		"space-before-function-paren": [
			"error",
			{
				"anonymous": "always",
				"named": "never",
				"asyncArrow": "always"
			}
		],
		"semi-spacing": [
			"error"
		],
		"space-unary-ops": [
			"error",
			{
				"words": true,
				"nonwords": false
			}
		],
		"computed-property-spacing": [
			"error",
			"never"
		],
		"keyword-spacing": [
			"warn"
		],
		"no-mixed-spaces-and-tabs": [
			"error",
			"smart-tabs"
		],
		"no-console": [
			"warn",
			{
				"allow": [
					"warn",
					"error"
				]
			}
		]
	}
}