{
  "extends": ["@julofinance/eslint-config/typescript"],
  "overrides": [
    {
      "files": [
        "packages/**/*.{ts,tsx}",
        "tooling/**/*/*.ts",
        "scripts/**/*.ts"
      ],
      "parserOptions": {
        "project": ["tsconfig.json"]
      }
    }
  ]
}
